/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@config "../tailwind.config.js";

@theme {
  --color-redRibbon-50: oklch(0.9300 0.0355 17.8535);
  --color-redRibbon-100: oklch(0.8615 0.0752 15.6897);
  --color-redRibbon-200: oklch(0.7974 0.1172 16.1037);
  --color-redRibbon-300: oklch(0.7345 0.1622 15.9140);
  --color-redRibbon-400: oklch(0.6692 0.2012 15.8255);
  --color-redRibbon-500: oklch(0.6042 0.2401 15.2476);
  --color-redRibbon-600: oklch(0.5266 0.2004 15.2945);
  --color-redRibbon-700: oklch(0.4498 0.1607 15.6593);
  --color-redRibbon-800: oklch(0.3705 0.1212 15.3578);
  --color-redRibbon-900: oklch(0.2939 0.0814 16.0291);
  --color-redRibbon-950: oklch(0.2158 0.0415 18.6447);

  --color-mint-500: oklch(0.157 0.025 190.043);
}
